@mixin hoverable {
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

@mixin button {
  @include hoverable;

  font-family: $font-text;
  font-size: $font-size-small;
  color: black;
  text-decoration: none;
  padding: 0.6em 1em;
  border-radius: $radius;
  cursor: pointer;
  background-color: white;
  border: 1px solid $color-grey;
}

@mixin unstyledList {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin thinScrollbar ($color: $color-grey, $hover-color: $color-main) {
  // Firefox
  scrollbar-color: $color white;
  scrollbar-width: thin;

  // WebKit based browsers
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 6px;
  }

  &:hover {
    scrollbar-color: $hover-color white;

    &::-webkit-scrollbar-thumb {
      background-color: $hover-color;
    }
  }
}

/**
 * Quick note:
 * ***********
 * The $logoUrl must be relative to **this file's path**, not the one you call
 * this mixin from.
 */
@mixin iconBefore($logoUrl, $anchorClass, $rightTarget) {
  #{$anchorClass} {
    position: absolute;
    right: 100%;
    margin-right: -0.6em;
    text-decoration: none;
    width: 2em;
    text-align: right;

    &::before {
      position: absolute;
      content: " ";
      width: 1.2em;
      height: 1.2em;
      display: inline-block;
      background-image: url($logoUrl);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      right: $rightTarget + 1em;
      transition: right $duration;
    }

    opacity: 0;
    transition: opacity $duration;
  }

  &:hover #{$anchorClass} {
    opacity: 1;

    &::before {
      right: $rightTarget;
    }
  }
}
