$prefix: "c-";

// Global styles:
$color-main: #427c8c;
$color-grey: #ccc;
$color-dark-grey: #888;
$color-light-grey: #f6f6f6;
$radius: 3px;
$box-shadow: 0 1px 2px 1px $color-grey;
$duration: 0.4s;

// Typography:
@import url("http://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Dancing+Script");
$font-logo: "Dancing Script", serif;
$font-title: Merriweather, serif;
$font-text: "Open Sans", sans-serif;
$font-size-title: 1.3em;
$font-size-text: 1em;
$font-size-small: 0.9em;

$color-error: #ad4240;
$color-success: #48942c;
$color-info: $color-main;
