body {
  padding: 0;
  margin: 0;
}

@import 'variables';
@import 'mixins';

@import 'components/form';
@import 'components/viewpoint';
@import 'components/tooltip';
@import 'components/chartblock';
@import 'components/banner';
@import 'components/title';
@import 'components/footer';
@import 'components/homepage';
@import 'components/viewpointpage';

@import 'components/datatable';
