.#{$prefix}banner {
  color: black;

  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: 0;

  margin: 0 -1em;
  padding: 0 1em;

  background: white;
  border-bottom: 1px solid $color-grey;

  .#{$prefix}banner-title {
    font-family: $font-title;
    font-size: 1.6em;
    font-weight: bold;

    margin: 0;
    padding: 1em 0;
  }

  @include iconBefore("../src/assets/img/settings.svg", ".#{$prefix}banner-title-anchor", 0.15em);

  /* Handle deployed state: */
  .#{$prefix}form {
    transition: max-height $duration linear;
    overflow-y: hidden;
  }
  &:not(.#{$prefix}banner-deployed) {
    cursor: pointer;

    .#{$prefix}form {
      max-height: 0;
    }

    .#{$prefix}inline-param {
      @include hoverable;
    }
  }

  &.#{$prefix}banner-deployed {
    .#{$prefix}banner-deploy {
      display: none;
    }

    .#{$prefix}form {
      max-height: 450px;
    }
  }
}
