.#{$prefix}chartblock {
  color: black;

  .#{$prefix}chartblock-title {
    font-family: $font-title;
    font-weight: normal;
    font-size: $font-size-title;

    position: relative;

    @include iconBefore("../src/assets/img/link.svg", ".#{$prefix}chartblock-title-anchor", 0.9em);
  }
}
