@mixin cell($topBorder: false, $leftBorder: false) {
  margin: 0;
  padding: 0.4em 0.6em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  @if $leftBorder {border-left: 1px solid $color-grey;}
  @if $topBorder {border-top: 1px solid $color-grey}
}

.#{$prefix}datatable {
  max-width: 100%;
  max-height: 600px;
  overflow: auto;

  border: 1px solid $color-grey;
  border-radius: $radius;

  table {
    min-width: 100%;
  }
  thead {
    font-family: $font-title;
  }
  tbody {
    font-family: $font-text;
    font-size: $font-size-small;
  }
  th {
    @include cell(false, true);
  }
  td {
    @include cell(true, true);
  }

  counter-reset: rowNumber;

  thead tr::before {
    display: table-cell;
    content: " ";
  }
  tbody tr::before {
    color: $color-dark-grey;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    @include cell(true, false);
  }
}
