.#{$prefix}footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid $color-grey;
  text-align: right;

  margin: 0 -1em;
  padding: 1em;

  .#{$prefix}footer-colored {
    color: $color-main;
  }

  .#{$prefix}footer-logo {
    font-family: $font-logo;
    font-size: 1.6em;
  }
}
