.#{$prefix}form {
  font-family: $font-text;
  color: black;

  display: flex;
  flex-direction: column;

  .#{$prefix}form-inputs {
    flex-grow: 1;
    overflow: auto;
  }

  .#{$prefix}form-row {
    outline: none;
    border: none;
    margin: 0 0 1em;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .#{$prefix}form-label {
    flex-shrink: 0;
    display: inline-block;
    width: 12em;

    text-align: right;
    padding: 0 1em 0 0;
  }

  .#{$prefix}form-input-block {
    flex-grow: 1;
    outline: none;
  }

  .#{$prefix}form-input {
    font-family: $font-text;
    font-size: $font-size-text;
    border: 1px solid $color-grey;
    border-radius: $radius;
    padding: 0.4em 0.6em;

    width: 100%;
    box-sizing: border-box;

    &:disabled {
      background: $color-light-grey;
    }
    &:not(:disabled) {
      &:focus,
      &:active {
        border-color: $color-main;
      }
    }

    &[type="number"] {
      padding-right: 0.2em;
    }
  }

  .#{$prefix}form-input-block {
    padding: 0;
  }

  .#{$prefix}form-actions {
    text-align: right;
    flex-shrink: 0;

    .#{$prefix}form-cancel,
    .#{$prefix}form-submit {
      @include button;
      margin-left: 0.2em;
    }

    .#{$prefix}form-cancel {
      color: white;
      background: $color-main;
      border: 1px solid $color-main;
    }

    .#{$prefix}form-submit {
      color: black;
      background: white;
      border: 1px solid black;
    }
  }

  .#{$prefix}form-errors-list {
    color: $color-error;
    font-size: $font-size-small;
    list-style-type: "· ";
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
}
