.#{$prefix}homepage {
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
  position: relative;

  font-family: $font-text;
  h1 {
    font-family: $font-logo;
  }
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-title;
  }
}

.#{$prefix}homepage-header {
  text-align: center;
  padding: 5em 0;

  .#{$prefix}homepage-header-banner {
    display: inline-block;
    position: relative;
    padding: 1em;

    &::before {
      z-index: -1;
      content: " ";
      position: absolute;
      top: 65%;
      left: 0;
      width: 100%;
      height: 20%;
      background-color: $color-grey;
      transition: background-color $duration;
    }
    &:hover::before {
      background-color: $color-main;
    }

    & > * {
      vertical-align: middle;
    }

    img {
      width: 6em;
    }

    h1 {
      display: inline-block;
      font-size: 5em;
      text-decoration: none;
      color: black;
      padding: 0;
      margin: 0;
    }
  }
}
