.#{$prefix}title {
  font-family: $font-title;
  font-weight: normal;
  font-size: $font-size-title;
}

[class^="#{$prefix}inline-param"] {
  color: $color-main;
  font-style: normal;
}

.#{$prefix}inline-param-placeholder {
  &::before {
    content: "{";
  }

  &::after {
    content: "}";
  }
}
