.#{$prefix}tooltip {
  @include thinScrollbar;

  font-family: $font-text;
  font-size: $font-size-small;
  color: black;

  border-radius: $radius;
  border: 1px solid $color-grey;
  box-shadow: $box-shadow;

  max-width: 300px;
  max-height: 400px;
  overflow-y: auto;

  .#{$prefix}tooltip-group {
    padding: 1em;

    &:not(:first-child) {
      border-top: 1px solid $color-grey;
    }
  }

  .#{$prefix}tooltip-list-title {
    font-weight: normal;
    padding: 0;
    margin: 0 0 0.4em;
  }

  .#{$prefix}tooltip-list {
    @include unstyledList;

    .#{$prefix}tooltip-list-item {
      margin-bottom: 0.3em;
    }
  }

  .#{$prefix}tooltip-link-viewpoint,
  .#{$prefix}tooltip-link-external {
    @include hoverable;

    font-family: $font-title;
    color: black;

    .#{$prefix}inline-param {
      color: $color-main;
      font-style: normal;
    }

    .#{$prefix}inline-param-selected {
      font-weight: bold;
    }
  }

  .#{$prefix}tooltip-link-viewpoint::before {
    content: "➞";
    display: inline-block;
  }

  .#{$prefix}tooltip-link-external::before {
    content: "🔗";
    display: inline-block;
  }
}
