.#{$prefix}viewpoint {
  font-family: $font-text;
  font-size: $font-size-text;
  color: black;

  margin-bottom: 2em;


  /* Layout: */
  .#{$prefix}viewpoint-sumup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .#{$prefix}viewpoint-thumbnail {
    flex-shrink: 0;

    max-width: 8em;
    margin-right: 1em;
    border-radius: $radius;
  }

  .#{$prefix}viewpoint-text {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .#{$prefix}viewpoint-title {
    font-family: $font-title;
    font-size: $font-size-title;
    font-weight: normal;

    margin: 0 0 0.6em;
    display: inline-block;
  }

  .#{$prefix}viewpoint-description {
    margin: 0 0 0.8em;
  }

  .#{$prefix}viewpoint-deploy,
  .#{$prefix}viewpoint-goto {
    @include button;
  }

  .#{$prefix}form {
    padding-top: 1em;
  }


  /* Handle deployed state: */
  &:not(.#{$prefix}viewpoint-deployed) {
    cursor: pointer;

    .#{$prefix}form {
      display: none;
    }
  }

  &.#{$prefix}viewpoint-deployed {
    .#{$prefix}viewpoint-deploy {
      display: none;
    }

    .#{$prefix}viewpoint-sumup {
      padding-bottom: 1em;
      border-bottom: 1px solid $color-grey;
    }
  }


  /* Hover effect to emphasize title and whole viewpoint block cohesion */
  .#{$prefix}viewpoint-title {
    position: relative;

    &::after {
      content: " ";
      background-color: $color-grey;
      height: 3px;
      width: 200px;
      max-width: 100%;
      transition: all $duration;

      position: absolute;
      left: 0;
      top: 100%;
      margin-top: 1px;
    }
  }

  .#{$prefix}viewpoint-deploy,
  .#{$prefix}viewpoint-goto {
    transition: all $duration;
    position: relative;

    &::before {
      transition: all $duration;
      opacity: 0;

      position: absolute;
      left: 0;
    }
  }
  .#{$prefix}viewpoint-deploy::before {
    content: "↓";
  }
  .#{$prefix}viewpoint-goto::before {
    content: "➞";
  }

  .#{$prefix}viewpoint-thumbnail {
    transition: all $duration;
  }

  &:not(.#{$prefix}viewpoint-deployed):hover {
    .#{$prefix}viewpoint-title::after {
      background-color: $color-main;
      width: 100%;
    }

    .#{$prefix}viewpoint-thumbnail {
      transform: rotate(-5deg);
    }

    .#{$prefix}viewpoint-deploy,
    .#{$prefix}viewpoint-goto {
      padding-left: 2em;

      &::before {
        opacity: 1;
        left: 1em;
      }
    }
  }
}
