.#{$prefix}viewpointpage {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  padding: 0 3em 6em;
  box-sizing: border-box;
  position: relative;

  /* Fix parent padding: */
  .#{$prefix}footer {
    left: 3em;
    right: 3em;
  }
}

.#{$prefix}viewpointpage-header {
  .#{$prefix}viewpointpage-header-title {
    display: inline-block;
    position: relative;

    &::before {
      z-index: -1;
      content: " ";
      position: absolute;
      top: 65%;
      left: 0;
      width: 100%;
      height: 20%;
      background-color: $color-grey;
      transition: background-color $duration;
    }
    &:hover::before {
      background-color: $color-main;
    }
  }

  img {
    width: 3em;
    vertical-align: middle;
  }

  h2 {
    vertical-align: middle;
    display: inline-block;
    font-size: 2.5em;
    font-family: $font-logo;
    text-decoration: none;
    color: black;
    padding: 0.2em;
    margin: 0;
  }
}
